/* Estilos para o BODY */
body.ser {
  background-color: silver;
}

/* Estilos para o menu de navegação */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(248, 44, 44);
  padding: 0px;
}
.logo {
  color: white;
  font-style:italic;
  margin-left: 2%;
  margin-right: 2%; 
}
.menu {
  list-style: none;
  margin: 1%;
  padding: 0;
  display: flex;
}
.menu li { 
  margin-left: 14px;
  margin-right: 14px;
}
.menu li a {
  text-decoration: none;
  color: yellow;
}

/* Estilos para FONTES */
.font {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 250%;
}
h2{
  font-size: 220%;
}
h3{
  margin-left: 2%;
  margin-right: 2%;
  text-indent: 10%;
  font-size: 170%;
  color: black;
}

/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .ser {
  display: block;
  margin: auto;
  width: 610px;
  height: 430px;
  }
}

/* Estilos para PARAGRAFOS */
p{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-left: 2%;
  margin-right: 2%;
  text-align: justify;
  text-indent: 10%;
  font-size: 150%;
  color: black;
}

p1{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-left: 2%;
  margin-right: 2%;
  text-indent: 10%;
  font-size: 150%;
  color: blue;
}

/* Estilos para COLUNAS */
/* grid 100%*/

.linha {
  width: 100%;
  margin: auto;
  overflow: auto;
  padding: 5px 0;
}
.colunaser {
  margin: 2px;
  float: left;
  color: blue;
}
.colser1 {
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 10%;
  font-size: 230%;
  width: 80%;
  text-align: left;
  color: blue;
}

.colser2 {
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 10%;
  font-size: 200%;
  text-align: left;
}

/* Estilos para BOTÃO */
.btn-estilizado1 {
  background-color: yellow; /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: brown; /* Cor do texto */
  padding: 15px 32px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block;
  font-size: 300%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
}

.btn-estilizado2 {
  background-color: rgb(100, 209, 100); /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: green; /* Cor do texto */
  padding: 15px 32px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block; /* Posição do botão */
  font-size: 300%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
}

/* Estilos para BOTÃO */
.btn-estilizado {
  background-color: rgb(224, 100, 100); /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: rgb(50, 50, 186); /* Cor do texto */
  padding: 15px 32px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block;
  font-size: 300%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
}

/* Estilos para RODAPÉ */
footer {
  background-color: blue;
  text-align: center;
  color: white;
  padding: 6px;
  font-size: 80%;
} 