/* Para telas extra pequenas (celulares, menos de 480px) */
@media only screen and (max-width: 480px) {
  .containerser {
    width: 480%;
    padding: 10px;
  }
}
/* Para telas pequenas (celulares, menos de 640px) */
@media only screen and (max-width: 640px) {
  /* Estilos aplicados em telas de até 770px de largura */
  .containerser {
    width: 400%;
    padding: 15px;
  }
 }
/* Para telas médias (tablets, 641px a 1024px) */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .containerser {
    width: 200%;
    padding: 20px;
  }
}
/* Para telas grandes (desktops, mais de 1025px) */
@media only screen and (min-width: 1025px) {
  .containerser {
    width: 70%;
    padding: 25px;
  }
}
/* Para telas extra grandes (desktops grandes, mais de 1200px) */
@media only screen and (min-width: 1200px) {
  .containerser {
    width: 95%;
    padding: 30px;
  }
}


/* Estilos para o BODY */
body.ser {
  background-color: silver;
}
/* Estilos para o menu de navegação */
.navbar {
  display: flex;
  background-color: rgb(248, 44, 44);
  width: 100%;
  padding-right: 2%;
}
.logo {
  color: white;
  font-style: italic;
  padding-left: 2%;
  padding-right: 0%;
  text-decoration: underline;
}
.menu {
  list-style: none;
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
}
.menu li { 
padding-left: 2%;
padding-right: 2%;
}
.menu li a {
  text-decoration: none;
  color: yellow;
  padding-right: 0%;
}


/* Estilos para FONTES */
.font {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 360%;
}
h2{
  font-size: 350%;
}
h3{
  padding-left: 1%;
  text-indent: 10%;
  font-size: 340%;
  color: black;
  width: 100%;
}


/* Estilos para COLUNAS img */
/* grid 100%*/
.linha {
  width: 200%;
  overflow: auto
}
.colunaimgser {
  float: left;
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  width: 200%;
}
.ser {
  background-image: url('   ');
  .ser1 {
  padding-left: 0%;
  padding-right: 4px;
  width: 26%;
  height: 26%;
  float:inline-start;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .ser2 {
  padding-left: 4px;
  padding-right: 4px;
  width: 16%;
  height: 16%;
  float:left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .ser3 {
  padding-left: 4px;
  padding-right: 4px;
  width: 16%;
  height: 16%;
  float: left;
  }
}
/* Estilos para IMAGENS */
.ser {
  background-image: url('   ');
  .ser5 {
  padding-left: 4px;
  padding-right: 0%;
  width: 12%;
  height: 12%;
  float: left;
  }
}


/* Estilos para PARAGRAFOS */
p{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 1%;
  padding-right: 2%;
  text-align: justify;
  text-indent: 10%;
  font-size: 380%;
  color: black;
  width: 100%;
}
p1{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 1%;
  padding-right: 2%;
  text-indent: 10%;
  font-size: 380%;
  color: blue;
  width: 100%;
}


/* Estilos para COLUNAS lista*/
/* grid 100%*/
.linha {
  width: 100%;
}
.colunaser {
  float: left;
  color: blue;
}
.colser1 {
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-indent: 1%;
  padding-left: 10%;
  font-size: 340%;
  width: 90%;
  text-align: left;
  color: blue;
}
.colser2 {
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-indent: 1%;
  padding-left: 11%;
  font-size: 340%;
  width: 92%;
  text-align: left;
}


/* Estilos para BOTÃO */
.btn-estilizado1 {
  background-color: yellow; /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: brown; /* Cor do texto */
  padding: 15px 32px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block;
  font-size: 700%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  width: 95%;
}
.btn-estilizado2 {
  background-color: rgb(100, 209, 100); /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: green; /* Cor do texto */
  padding: 15px 32px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block; /* Posição do botão */
  font-size: 700%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  width: 95%;
}
/* Estilos para BOTÃO */
.btn-estilizado {
  background-color: rgb(224, 100, 100); /* Cor de fundo do botão */
  border: none; /* Sem bordas */
  color: rgb(50, 50, 186); /* Cor do texto */
  padding: 15px 32px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem sublinhado */
  display: block;
  font-size: 700%; /* Tamanho da fonte */
  margin: auto;
  cursor: pointer; /* Cursor de mão ao passar o mouse */
  width: 95%;
}


/* Estilos para RODAPÉ */
footer {
  display:block;
  background-color: blue;
  text-align: center;
  color: white;
  padding: 1%;
  font-size: 280%;
  width: 100%;
} 