

/* Estilos para o BODY */
body.sobre {
  background-color: rgb(10, 4, 49);
}
/* Estilos para o menu de navegação */
.navbar {
  display: flex;
  background-color: rgb(248, 44, 44);
  padding-right: 2%;
}
.logo {
  color: white;
  font-style: italic;
  padding-left: 2%;
  padding-right: 0%;
  text-decoration: underline;
}
.menu {
  list-style: none;
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
}
.menu li { 
padding-left: 2%;
padding-right: 2%;
}
.menu li a {
  text-decoration: none;
  color: yellow;
}


/* Estilos para FONTES */
.font {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 360%;
}
h2{
  font-size: 350%;
}
h3{
  font-size: 200%;
}


/* Estilos para IMAGENS */
.sobre {
  background-image: url('   ');
  .sobre {
  width: 44%;
  height: 4%;
  padding-left: 28%;
  }
}


/* Estilos para PARAGRAFOS */
p{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 1%;
  padding-right: 2%;
  text-align: justify;
  text-indent: 10%;
  font-size: 380%;
  color: gold;
 
}
p1{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 1%;
  padding-right: 2%;
  text-align: left;
  text-indent: 0%;
  font-size: 380%;
  color: yellow;
 
}

/* Estilos para RODAPÉ */
footer {
  display:block;
  background-color: blue;
  text-align: center;
  color: white;
  padding: 1%;
  font-size: 280%;
 
} 