/* Para telas pequenas (celulares, menos de 300px) */
@media only screen and (max-width: 300px) {
  .containerser {
    width: 530%;
    padding: 10px;
  }
}
/*Para telas pequenas (Celulares)*/
@media only screen and (min-width: 301px) and (max-width: 350px) {
  .containerser {
    width: 420%;
    padding: 20px;
  }
}
/* Para telas pequenas(Galaxi S9 320px a 658px) */
@media only screen and (min-width: 320px) and (max-width: 658px) {
  .containerser {
    width: 410%;
    padding: 20px;
  }
}
/*S7, A9 pro, J5*/
/* Para telas (iPhone 12 Pro 390px a 844px) */
@media only screen and (min-width: 390px) and (max-width: 844px) {
  .containerser {
    width: 396%;
    padding: 20px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 450px) {
  .containerser {
    width: 330%;
    padding: 20px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 500px) {
  .containerser {
    width: 310%;
    padding: 20px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 550px) {
  .containerser {
    width: 280%;
    padding: 20px;
  }
}
@media only screen and (min-width: 551px) and (max-width: 640px) {
  .containerser {
    width: 240%;
    padding: 20px;
  }
}


/* Para telas médias (tablets, 641px a 1024px) */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  .containerser {
    width: 290%;
    padding: 20px;
  }
}

/* Para telas grandes (Galaxi Tab S4 712px a 1138px) */
@media only screen and (min-width: 712px) and (max-width: 1138px) {
  .containerser {
    width: 180%;
    padding: 20px;
  }
}

/* Para telas grandes (iPad Mini 768px a 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .containerser {
    width: 170%;
    padding: 20px;
  }
}

/* Para telas grandes (iPad Air 820px a 1180px) */
@media only screen and (min-width: 820px) and (max-width: 1180px) {
  .containerser {
    width: 160%;
    padding: 20px;
  }
}


/* Para telas grandes (desktops, 1025px a 1200px) */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .containerser {
    width: 130%;
    padding: 20px;
  }
}


/* Para telas extra grandes (desktops grandes, mais de 1200px) */
@media only screen and (min-width: 1200px) {
  .containerser {
    width: 95%;
    padding: 30px;
  }
}



/* Estilos para o BODY */
body.sobre {
  background-color: rgb(10, 4, 49);
}
/* Estilos para o menu de navegação */
.navbar {
  display: flex;
  background-color: rgb(248, 44, 44);
  padding-right: 2%;
}
.logo {
  color: white;
  font-style: italic;
  padding-left: 2%;
  padding-right: 0%;
  text-decoration: underline;
}
.menu {
  list-style: none;
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
}
.menu li { 
padding-left: 2%;
padding-right: 2%;
}
.menu li a {
  text-decoration: none;
  color: yellow;
}


/* Estilos para FONTES */
.font {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 360%;
}
h2{
  font-size: 350%;
}
h3{
  font-size: 340%;
}


/* Estilos para IMAGENS */
.sobre {
  background-image: url('   ');
  .sobre {
  width: 44%;
  height: 4%;
  padding-left: 28%;
  }
}


/* Estilos para PARAGRAFOS */
p{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 1%;
  padding-right: 2%;
  text-align: justify;
  text-indent: 10%;
  font-size: 380%;
  color: gold;
}
p1{
  /* Para Android e iOS */
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  padding-left: 1%;
  padding-right: 2%;
  text-align: left;
  text-indent: 0%;
  font-size: 380%;
  color: yellow;
}

/* Estilos para RODAPÉ */
footer {
  display:block;
  background-color: blue;
  text-align: center;
  color: white;
  padding: 1%;
  font-size: 280%;
} 