/* Estilos para o menu de navegação */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(248, 44, 44);
  padding: 0px;
}
.logo {
  color: white;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px; 
}
.menu {
  list-style: none;
  margin: 10px;
  padding: 0;
  display: flex;
}
.menu li { 
  margin-left: 20px;
  margin-right: 20px;
}
.menu li a {
  text-decoration: none;
  color: yellow;
}
.font {
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 30px;
}
h2{
  font-size: 26px;
}
h3 {
  font-size: 22px;
}
p{
  margin: auto;
  text-align:left;
  text-indent: 70px;
  font-size: 16px;
  color: rgb(90, 119, 205);
}
p2{
  font-size: 30px;
  margin: 60px;
  color: rgb(221, 215, 92);
}
body {
  background: rgb(6, 6, 6);
}
 .linha {
      width: 100%;
      margin: auto;
      overflow: auto;
      padding: 5px 0;
    }
    .coluna {
        margin: auto;
        padding: 0 0px;
        float: left;
        color: white;

    }
    .col1 {
      font-size: 22px;
       width: 48%;
       text-align: left;
       color: white;
    }
    .col2 {
      font-size: 22px;
        width: 48%;
        text-align: left
    }
    footer {
      background-color: blue;
      padding: 6px;
      text-align: center;
      color: white;
      font-size: 10px;
    } 